@import "../../variables.less";

.recipe-list-page {
  width: 100%;
  flex-grow: 1;
  flex-shrink: 0;

  .recipe-list {
    position: relative;
    flex-grow: 1;
    flex-basis: calc((96px + 8px) * 2);
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
    overflow: auto;
    align-self: start;
  }

  .add-button {
    width: 56px;
    height: 56px;

    position: fixed;
    bottom: 16px;
    right: 16px;
    padding: 8px;

    svg {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .shadow {
    --color: #colors[background];

    position: fixed;
    bottom: 0;
    width: 100%;
    height: 48px;
    pointer-events: none;
    background: linear-gradient(0deg, var(--color), 25%, var(--color), 55%, transparent 60%, transparent 100%);
  }
}
