@import "../../../variables.less";

.recipe-list-item {
  position: relative;
  width: 100%;
  height: 96px;
  flex-shrink: 0;
  padding: 2px;

  display: grid;
  grid-template-columns: min-content 1fr 24px;
  grid-template-rows: 20% 30% 50%;

  font-size: 0.6rem;

  img {
    height: 100%;
    grid-column: 1;
    grid-row: 1 / 4;
    object-fit: cover;
    border-radius: #numeric[border-radius];
    border: 1px solid #00000020;
    margin-right: 4px;
  }

  h2 {
    letter-spacing: 1px;

    grid-column: 2;
    grid-row: 1;
  }

  p {
    grid-column: 2 / 3;
    grid-row: 2;
  }

  .tag-set {
    grid-column: 2;
    grid-row: 3;
    gap: 4px;
    overflow: auto;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  .category-indicator-interaction-space {
    position: absolute;
    right: 0;
    padding: 8px 16px;
    z-index: 2;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  .category-indicator {
    --pseudo-element-width: 8px;

    background: var(--color);
    position: relative;
    max-width: 0px;
    height: 16px;
    padding: 1px 0;

    font-weight: 600;

    transition: all 1s ease;
    &.show {
      max-width: 100px;
    }

    p {
      width: 100%;
      overflow: hidden;
      white-space: nowrap;
    }

    &::before {
      content: "";
      position: absolute;
      left: calc(var(--pseudo-element-width) * -1);
      top: 0;
      width: var(--pseudo-element-width);
      height: 100%;
      border-radius: 100px 0 0 100px;
      background-color: var(--color);
    }

    &::after {
      content: "";
      position: absolute;
      right: calc(var(--pseudo-element-width) * -1);
      top: 0;
      width: var(--pseudo-element-width);
      height: 100%;
      border-radius: 0 100px 100px 0;
      background-color: var(--color);
    }
  }
}
