@import "../../variables.less";

.recipe-page {
  font-size: 0.8rem;

  .category-indicator {
    --element-height: 24px;
    --pseudo-element-width: calc(var(--element-height) / 2);

    background: var(--color);
    position: relative;
    width: fit-content;
    height: var(--element-height);
    margin: 8px 0 0 var(--pseudo-element-width);

    letter-spacing: 1px;
    line-height: var(--element-height);

    &::before {
      content: "";
      position: absolute;
      left: calc(var(--pseudo-element-width) * -1);
      top: 0;
      height: 100%;
      aspect-ratio: 1/2;
      border-radius: 100px 0 0 100px;
      background-color: var(--color);
    }

    &::after {
      content: "";
      position: absolute;
      right: calc(var(--pseudo-element-width) * -1);
      top: 0;
      aspect-ratio: 1/2;
      height: 100%;
      border-radius: 0 100px 100px 0;
      background-color: var(--color);
    }
  }

  .image-space {
    width: 100%;
    height: fit-content;

    background: #colors[primary];
    padding: 4px;
    border-radius: #numeric[big-border-radius];

    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: #numeric[big-border-radius];
    }
  }

  .bottom-button-space {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 8px;

    button {
      padding: 6px 12px;
    }
  }
}
