@import "../variables.less";

.main-page {
  .page-switch {
    position: relative;
    align-self: center;
    width: 280px;
    height: 48px;
    padding: 0;
    margin-bottom: 8px;
    flex-shrink: 0;

    border: 2px solid black;
    border-radius: #numeric[big-border-radius];

    overflow: hidden;

    isolation: isolate;

    .switch-thumb {
      position: relative;
      background: #colors[primary];
      display: block;
      width: 50%;
      height: 100%;
      border-radius: 7px;

      left: 0;
      transition: left 200ms ease;
      // TODO: Make it smoother somehow
      // transition: color 200ms ease;
    }

    .switch-thumb[data-state="checked"] {
      left: 50%;
    }

    .labels {
      position: absolute;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      z-index: 2;

      p {
        width: 50%;
        font-size: 1.2rem;
        font-weight: 600;
        letter-spacing: 2px;
        color: #colors[text];
      }
    }
  }

  .page-switch[data-state="unchecked"] {
    p:first-child {
      color: var(--sage-1);
    }
    p:last-child {
      color: var(--sage-12);
    }
  }
  .page-switch[data-state="checked"] {
    p:first-child {
      color: var(--sage-12);
    }
    p:last-child {
      color: var(--sage-1);
    }
  }
}
