@import "../variables.less";

.category-chip {
  background: #colors[secondary];
  padding: 4px 12px;
  white-space: nowrap;

  .font-category();
}

.tag-chip {
  background: #colors[secondary];
  padding: 2px 8px;
  white-space: nowrap;

  .font-tag();
}

.category-chip.active,
.tag-chip.active {
  background: #colors[primary];
}
