@import "../variables.less";

// Alert colors
@import "@radix-ui/colors/red.css";
@import "@radix-ui/colors/red-alpha.css";
@import "@radix-ui/colors/red-dark.css";
@import "@radix-ui/colors/red-dark-alpha.css";

@import "@radix-ui/colors/green.css";
@import "@radix-ui/colors/green-alpha.css";
@import "@radix-ui/colors/green-dark.css";
@import "@radix-ui/colors/green-dark-alpha.css";

.input-sizing-wrapper {
  position: relative;
  min-height: 1rem;

  p {
    padding-inline: 10px;
    visibility: hidden;
  }
}

.titled-section {
  width: 100%;

  h2 {
    letter-spacing: 2px;
  }

  .divider {
    width: 100%;
    height: 2px;
    margin-bottom: 8px;
    background: #colors[primary];
  }
}

.checkbox-root {
  width: 16px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;

  background-color: transparent;
  border: 2px solid #colors[primary];
  border-radius: 4px;
  font-size: 2rem;

  cursor: pointer;

  .indicator {
    display: block;
    width: 8px;
    height: 8px;
    border-radius: 2px;
    background: #colors[primary];
  }
}

.button-outlined {
  background-color: #colors[popup];
  border: 2px solid #colors[primary];
  border-radius: #numeric[border-radius];
  font-weight: 700;
  letter-spacing: 2px;
}

.button-filled {
  background: #colors[primary];
  border: 1px solid rgb(87, 87, 87);
  border-radius: #numeric[border-radius];
  color: #colors[popup];
  font-weight: 700;
  letter-spacing: 2px;
}

.input {
  color: #colors[text-high-contrast];
  background-color: #colors[interactive-inactive];
  border: 2px solid #colors[primary];
  border-radius: #numeric[border-radius];
  height: 40px;
  padding: 8px 12px;
  font-weight: 600;
}

.alert-stack-container {
  position: fixed;
  z-index: 999;
  isolation: isolate;
  padding: 8px;
  inset-inline: 0;
  display: flex;
  flex-direction: column;
  gap: 4px;

  font-weight: normal;
  font-size: 0.8rem;

  .alert {
    position: relative;
    display: grid;
    grid-template-columns: min-content 1fr;
    column-gap: 12px;
    border-radius: #numeric[border-radius];
    padding: 12px;
    text-wrap: pretty;

    svg {
      display: inline-block;
    }

    p {
      align-self: center;
    }
  }

  .alert.error {
    color: var(--red-11);
    background-color: var(--red-3);
    border: 2px solid var(--red-6);

    svg {
      color: var(--red-9);
    }
  }
  .alert.success {
    color: var(--green-11);
    background-color: var(--green-3);
    border: 2px solid var(--green-6);

    svg {
      color: var(--green-9);
    }
  }
}
