@import "@radix-ui/colors/red.css";
@import "@radix-ui/colors/red-dark.css";

.sublist-title {
  display: flex;
  align-items: center;

  > *:first-child {
    margin-right: auto;
  }

  a {
    display: flex;
    align-items: center;
  }

  .delete-icon {
    color: var(--red-9);
  }
}
