@import "../../variables.less";

.recipe-list-page {
  display: flex;
  flex-direction: column;
  gap: 24px;

  .recipe-list {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
    overflow: auto;
    align-self: start;

    padding: 0 4px 8px 4px;
    margin-bottom: -8px;
  }

  .add-button {
    width: 56px;
    height: 56px;

    position: fixed;
    bottom: 16px;
    right: 16px;
    padding: 8px;
    z-index: 3;

    svg {
      fill: whitesmoke;
    }
  }

  .shadow {
    --color: #colors[background];

    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    background: linear-gradient(0deg, var(--color) 1%, transparent 6%, transparent 100%);
  }
}
