@import "./variables.less";
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

:root {
  background-color: #colors[background];
}

:root,
body,
#root,
.app {
  height: 100%;
}

body {
  font-family: "Roboto Mono", sans-serif;
  font-weight: 500;
}

button,
input,
a,
textarea,
select {
  font: inherit;
  letter-spacing: inherit;
}

* {
  box-sizing: border-box;
  margin: 0;
}

// Debug

// Can add more asterisks for nesting to give outline to fewer elements.
// * {
//   outline: 2px solid orangered;
// }

// Translucent background color also shows nesting of elements
// * {
//   background-color:rgba(150, 150, 0, 0.25)
// }

// Common classes

.page {
  display: flex;
  flex-direction: column;
  gap: 24px;

  width: 100%;
  min-height: fit-content;
  padding: 16px;
  font-size: 0.8rem;

  h1 {
    letter-spacing: 1px;
  }
}

.block {
  background-color: #colors[secondary];
  border-radius: #numeric[border-radius];
  border: 1px solid #00000005;
}

.block.big-rounding {
  border-radius: #numeric[big-border-radius];
}

.floating {
  box-shadow: 0 3px 5px 1px rgba(0, 0, 0, 0.25);
}
