@import "./variables.less";
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

:root {
  background-color: #colors[background];
}

* {
  font-family: "Roboto Mono", sans-serif;
  box-sizing: border-box;
  margin: 0;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
}

// Common classes

.page-layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.block {
  background-color: #colors[secondary];
  border-radius: #numeric[border-radius];
}

.block.big-rounding {
  border-radius: #numeric[big-border-radius];
}

.floating {
  box-shadow: 0 3px 2px 0 rgba(0, 0, 0, 0.25);
}
