#colors() {
  primary: linear-gradient(180deg, #40a28a 0%, #679916 100%);
  secondary: #ccc;
  background: #d8d8d8;
  text: #111;
}

:root {
  background-color: #colors[background];
}

* {
  box-sizing: border-box;
  margin: 0;
}
