#colors() {
  primary: linear-gradient(180deg, #40a28a 0%, #679916 100%);
  primary-non-gradient: #33aa44;
  secondary: #ccc;
  background: #d8d8d8;
  popup: whitesmoke;
  text: #111;
}

#numeric() {
  big-border-radius: 10px;
  border-radius: 5px;
}
