@import "@radix-ui/colors/grass.css";
@import "@radix-ui/colors/grass-dark.css";
@import "@radix-ui/colors/sage.css";
@import "@radix-ui/colors/sage-dark.css";

#colors() {
  primary: var(--grass-9);
  interactive-inactive: var(--sage-3);
  interactive-hover: var(--sage-5);
  background: var(--sage-1);
  popup: var(--sage-3);
  text: var(--sage-11);
  text-high-contrast: var(--sage-12);
}

#numeric() {
  big-border-radius: 10px;
  border-radius: 5px;
}
